.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

.base-card {
  padding: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.button-cancelar {
  order: 1;
}

.button-salvar {
  order: 2;
}

.prazo-pagamento-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.progress-bar-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
